h1{
    font-size: 24px;
    font-weight:700;
    margin-bottom:1rem;
}

p{
    font-size: 12px;
    line-height:1.8;
}

h5{
    font-size: 16px;
    color:$primary-dark;
    font-family: $heading-font;
}

.btn{
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    border-radius: 5px;

    &.btn-main{
        color: white;
        background: $main-color;
    }
}