h1{
    font-size: calc(100vw*0.07);
    font-weight:700;
    margin-bottom:1rem;
}

p{
    font-size: calc(100vw*0.038);
    line-height:1.8;
}

h5{
    font-size: calc(100vw*0.042);
    color:$primary-dark;
    font-family: $heading-font;
}

.btn{
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    border-radius: 5px;

    &.btn-main{
        color: white;
        background: $main-color;
    }
}