$primary-dark:hsl(243, 87%, 12%);
$primary-main: hsl(238, 22%, 44%);

$main-color: hsl(224, 93%, 58%);
$main-complement: hsl(170, 45%, 43%);

$main-lighter: hsl(240, 75%, 98%);
$main-light: hsl(0, 0%, 75%);

$heading-font: 'Raleway', sans-serif;
$main-font: 'Open Sans', sans-serif;

$session-wrapper:  2rem 8%;
$session-wrapper-n:  2rem 12%;
$subsession-padding: 2rem 0;